<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Receipts</title>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          {% if user.is_authenticated %}
          <li><a href="{% url "login" %}"></a></li>
          <li><a href="{% url 'home' %}"></a></li>
          <li><a href="{% url 'category_list' %}"></a></li>
          <li><a href="{% url 'account_list' %}"></a></li>
          <li><a href="{% url 'create_receipt' %}"></a></li>
          <li><a href="{% url 'create_category' %}"></a></li>
          <li><a href="{% url 'create_account' %}"></a></li>
          {% else %}
          <li><a href="{% url 'signup' %}"></a></li>
          <li><a href="{% url 'login' %}"></a></li>
          {% endif %}
        </ul>
      </nav>
    </header>
    <main>
      <h1>My Receipts</h1>
      <table>
        <thead>
          <tr>
            <th>Vendor</th>
            <th>Total</th>
            <th>Tax</th>
            <th>Date</th>
            <th>Category</th>
            <th>Account</th>
          </tr>
        </thead>
        <tbody>
          {% for item in receipt_list %}
          <tr>
            <td>{{item.vendor }}</td>
            <td>{{item.total }}</td>
            <td>{{item.tax }}</td>
            <td>{{item.date|date:"m/d/y" }}</td>
            <td>{{item.category.name }}</td>
            <td>{{item.account.name }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </main>
  </body>
</html>
